<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h1>CYPHER QUERY</h1>
<p>// Creates Root - Level 0</p>
<p>CREATE (root:Root {name:'Snake Eye', type:'Web Application'})</p>

<p>// Creation of Nodes for Level 1</p>
<p>CREATE (config:Folder {name:'config', no_folder:1, no_file:2})</p>
<p>CREATE (instances:Folder {name:'instances', no_folder:0, no_file:2})</p>
<p>CREATE (snakeeyes:Folder {name:'snakeeyes', no_folder:1, no_file:2})</p>
<p>CREATE (env:File {name:'.env', type:'', code:''})</p>
<p>CREATE (docker_compose:File {name:'docker-compose', type:'.yml', code:''})</p>
<p>CREATE (dockerfile:File {name:'Dockerfile', type:'', code:''})</p>
<p>CREATE (requirements:File {name:'requirements', type:'.txt', code:''})</p>

<p>// Creation of Relations Between Level 0 & Level 1</p>

<p>CREATE (root)-[:CONTAINS {Level:0}]->(config)</p>
<p>CREATE (root)-[:CONTAINS {Level:0}]->(instances)</p>
<p>CREATE (root)-[:CONTAINS {Level:0}]->(snakeeyes)</p>
<p>CREATE (root)-[:CONTAINS {Level:0}]->(requirements)</p>
<p>CREATE (root)-[:CONTAINS {Level:0}]->(dockerfile)</p>
<p>CREATE (root)-[:CONTAINS {Level:0}]->(docker_compose)</p>
<p>CREATE (root)-[:CONTAINS {Level:0}]->(env)</p>

<p>// Creation of Nodes for Folder # 1</p>
<p>CREATE (pycache_config:Folder {name:'__pycache__', no_folder:0, no_file:2})</p>
<p>CREATE (init_config:File {name:'__init__', type:'py', code:''})</p>
<p>CREATE (settings_config:File {name:'settings', type:'py', code:''})</p>

<p>// Creation of Relations for Folder # 1 Level 1</p>
<p>CREATE (config)-[:CONTAINS {Level:0}]->(pycache_config)</p>
<p>CREATE (config)-[:CONTAINS {Level:0}]->(init_config)</p>
<p>CREATE (config)-[:CONTAINS {Level:0}]->(settings_config)</p>


<p>// Creation of Nodes for Folder # 2 Level 1</p>
<p>CREATE (init_inst:File {name:'__init__', type:'.py', code:''})</p>
<p>CREATE (settings_inst:File {name:'settings', type:'.py_production_example', code:''})</p>

<p>// Creation of Relations for Folder #2 Level 1</p>
<p>CREATE (instances)-[:CONTAINS {Level:0}]->(init_inst)</p>
<p>CREATE (instances)-[:CONTAINS {Level:0}]->(settings_inst)</p>

<p>// Creation of Nodes for Folder # 3 Level 1</p>
<p>CREATE (pycache_snake:Folder {name:'__pycache__', no_folder:0, no_file:2})</p>
<p>CREATE (init_snake:File {name:'__init__', type:'.py', code:''})</p>
<p>CREATE (app_snake:File {name:'app', type:'.py', code:''})</p>

<p>// Creation of Relations for Folder #3 Level 1</p>
<p>CREATE (snakeeyes)-[:CONTAINS {Level:1}]->(pycache_snake)</p>
<p>CREATE (snakeeyes)-[:CONTAINS {Level:1}]->(init_snake)</p>
<p>CREATE (snakeeyes)-[:CONTAINS {Level:1}]->(app_snake)</p>

<p>//Creation of Nodes for Folder # 1 Level 2</p>
<p>CREATE (init_pycache_config:File {name:'__init__', type:'.cpython-35.pyc', code:''})</p>
<p>CREATE (settings_pycache_config:File {name:'settings', type:'.cpython-35.pyc', code:''})</p>

<p>// Creation of Relations for Folder #1 Level 2</p>
<p>CREATE (pycache_config)-[:CONTAINS {Level:2}]->(init_pycache_config)</p>
<p>CREATE (pycache_config)-[:CONTAINS {Level:2}]->(settings_pycache_config)</p>


<p>//Creation of Nodes for Folder # 3 Level 2</p>
<p>CREATE (init_pycache_snake:File {name:'__init__', type:'.cpython-35.pyc', code:''})</p>
<p>CREATE (app_pycache_snake:File {name:'app', type:'.cpython-35.pyc', code:''})</p>

<p>// Creation of Relations for Folder # 3 Level 2</p>
<p>CREATE (pycache_snake)-[:CONTAINS {Level:2}]->(init_pycache_snake)</p>
<p>CREATE (pycache_snake)-[:CONTAINS {Level:2}]->(app_pycache_snake)</p>




</body>
</html>
